<button class="comments" id="show-comments" onclick="disqus();return false;">Commenti</button>
<div id="disqus_thread"></div>
<script>
var disqus_loaded = false;
var disqus_shortname = 'vincenzoingraojr'; 
function disqus() {
    if (!disqus_loaded)  {
        disqus_loaded = true;
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;
        e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
        (document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0])
        .appendChild(e);
        document.getElementById("show-comments").style.display = "none";
    }
}
var hash = window.location.hash.substr(1);
if (hash.length > 8) {
    if (hash.substring(0, 8) == "comment-") {
    disqus();
    }
}
</script>