<div class="page-text no-margin-bottom" id="comments-warning">
    Per commentare devi iscriverti al sito web. Puoi farlo <a href="/account" title="Iscriviti o accedi al sito web">qui</a>.
</div>
<div id="all-comments">
    <h3>Commenti.</h3>
    <div class="disclaimer">
        <span>!</span>
        Cerchiamo di essere gentili ed educati. Facciamo in modo che Internet sia un posto pulito. Ognuno è libero di esprimere la propria opinione, ma ricordiamo: la propria libertà non deve recar danno a quella degli altri.
    </div>
    <div class="new-comment" id="new-comment">
        <div class="user-name" id="user-name-comment"></div>
        <div class="user-email" id="user-email-comment"></div>
        <label for="comment">Inserisci il tuo commento</label>
        <textarea id="comment" name="comment" rows="3"></textarea>
        <button type="submit" id="submit-comment">Pubblica commento</button>
    </div>
    <ul class="comments" id="comments">
    </ul>
</div>